:root {
    --white: hsl (0, 0%, 100%);
    --text: hsl (228, 12%, 48%);
    --pale: hsl(32, 37, 92%);

}

* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: antiquewhite;
}

#header-img {
    width: 60px;
    object-fit: contain;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgb(248, 227, 177);
    padding: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    width: 60%;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.the-product {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

#email-section {
    margin-top: 100px;
}

#email-section h2 {
    margin-top: 30px;
    padding-top: 30px;
    margin-bottom: 15px;
}

input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var (--green);
}

#submit {
    background-color: rgb(156, 207, 156);
    color: black;
    cursor: pointer;
}

section::before {
    display: block;
    content: " ";
    margin-top: -100px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}

section {
    margin: 40px 20px;
    text-align: center;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.icon {
    color: rgb(144, 211, 144);
    margin-right: 30px;
}

#features {
    text-align: left;
    max-width: 800px;
    margin: auto;
}

.features {
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

#video {
    width: 100%;
}

.menu-items {
    display: flex;
    gap: 20px;
}

.coffee-list {
    width: 33%;
}

.product-image product1 {
    width: 100%;
    margin: auto;
    height: 500px;
    border: 1px solid var(--text);
    border-radius: 10px 10px 0 0;
    background-repeat: no repeat;
    background-size: cover;
    text-align: left;


}

.card {
    background-color: var(--white);
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;

}

.frappuccino-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    aspect-ratio: 4/2.65;
}

.inner-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.content {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text);
    margin-bottom: 10px;
}

.flex {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main-price {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    display: flex;
    align-items: center;
    margin: 5px auto;
}

.add {
    color: var(--white);
    background-color: rgb(160, 189, 117);
    width: 80px;
    height: 30px;
    align-items: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    margin: 5px auto;
}

.button-text {
    align-items: center;
    font-size: 15px;
}

.latte-image {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.americano-coffee-image {
    width: 100%;
    height: auto;
    text-align: :right;
    border-radius: 10px 10px 0 0;
}


@media only screen and (max-width: 600px) {
    .nav-links {
        width: 100%;
    }

    .menu-items {
        flex-direction: column;
    }

    .coffee-list {
        width: 100%;
    }
}